@font-face{font-family:'KhmerOSbattambang';font-weight:normal;font-style:normal;font-display:swap;src:local('KhmerOSbattambang'),url('fonts/uls/KhmerOSbattambang/KhmerOSbattambang.woff2') format('woff2');}
:lang(km),[lang="km"]{font-family:'KhmerOSbattambang',sans-serif;}
